body
{
	color: rgb(0, 0, 0);
	background-color: rgb(242, 253, 255);
}

a:link, a:visited, a:active
{
	color: black;
}

#header
{
	font-family: Microsoft Jhenghei;
	font-weight: bold;
	font-size: 32px;
	color: black;
}

#normal
{
	font-family: Microsoft Jhenghei;
	font-size: 16px;
	color: black;
}

::-moz-selection {
	background: #ffffcc;
	color: black;
}

::selection {
	background: #Fffffcc;
	color: black;
}
